{% extends 'base.html' %}
{% block title %}
首页
{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}
{% block main %}
    <ul class="main-ul">
        {% for question in questions %}
            <li>
                <div class="avator-group">
                    <img src="{{ url_for('static',filename='images/title.png') }}" alt="靓图" class="avator">
                </div>
                <div class="question-group">
                    <p class="question-title">
                        <a href="{{ url_for('detail',question_id=question.id) }}">{{ question.title }}</a>
                    </p>
                    <p class="question-content">
                        {{ question.content }}
                    </p>
                    <div class="question-info">
                        <span class="question-author">
                            {{ question.author.user }}
                        </span>
                        <span class="question-date">
                            {{ question.publish_time }}
                        </span>
                    </div>
                </div>
            </li>
        {% endfor %}



    </ul>
{% endblock %}

